.header {
	color: gray;
	font-size: 100px;
}

.sale {
	color: gray;
	font-size: 100px;
}

.phone {
	color: blue;
	font-size: 50px;
	text-decoration:underline;
}

.name {
	color: gray;
	font-size: 50px;
}